.popup {
 height: 100vh;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
background-color: rgba($color-black, .8);
z-index: 2001;
opacity: 0;
visibility: hidden;
transition: all .5s ease-in-out;


&:target {
    opacity: 1;
    transition: all, .5s ease-in-out;
    visibility: visible;
}



&__content {
    @include absCenter;
    width: 70%;
    height: 49.75rem;
    
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
   
    

    &__video {
        @include absCenter;
       
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            top: 0;
            right: 2rem;
            font-size: 3rem;
            z-index: 100000;
            text-decoration: none;
            transition: all .2s ease-in-out;
            
        }
    
        &:hover {
            color: $color-grey-dark;
        }
    }

    &__desc {
        
        position: fixed;
        bottom: 6%;
        background: rgba($color-black, 0.5);
        color: #f1f1f1;
        width: 100%;        
        padding: 20px;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .2rem;
       
    }
}
}

