*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;
user-select: none;

@include respond(land-tab) {
    font-size: 56.25%;
}


@include respond(port-tab) {
    font-size: 50%;
}

@include respond(phone) {
    font-size: 40%;
}




}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(port-tab) {
        padding: 0;
    }
}